<div class="mat-body-1">
  <mat-nav-list>
    <a mat-list-item routerLinkActive="active" routerLink="/home"><mat-icon>home</mat-icon>&nbsp;{{ 'PAGES.NAVIGATION.HOME' | translate }}</a>
    <a mat-list-item routerLinkActive="active" routerLink="/settings"><mat-icon>settings</mat-icon>&nbsp;{{ 'PAGES.NAVIGATION.SETTINGS' | translate }}</a>
    <a mat-list-item routerLinkActive="active" routerLink="/example" id="exampleButton"><mat-icon>data_thresholding</mat-icon>&nbsp;{{ 'PAGES.NAVIGATION.EXAMPLE' | translate }}</a>
  </mat-nav-list>
</div>
